.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.available-model-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.available-model-item:hover {
    background-color: #dbedff;
    cursor: pointer;
}