.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.available-model-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.available-model-item:hover {
    background-color: #dbedff;
    cursor: pointer;
}

#messagers-container {
    overflow-y: auto;
}

#user-input {
    resize: none;
    max-height: 500px;
}

.chat-user {
    color: black;
    border: lightgray 1px solid;
    background-color: #eafaf1;
}

.chat-assistant {
    /* color: blue; */
    border: lightgray 1px solid;
}

#available-models-select {
    max-width: 250px;
}

.fa-spin-fast {
    animation: fa-spin 0.6s infinite linear;
    color: orange;
}

.fa-fade-fast {
    animation: fa-fade 1.5s infinite linear;
    color: orange;
}

.message-viewer .edit-button,
.message-viewer .copy-button,
.message-viewer .regenerate-button {
    display: none;
}

.message-viewer:hover .edit-button,
.message-viewer:hover .copy-button,
.message-viewer:hover .regenerate-button {
    display: inline-block;
}

.message-viewer * {
    margin-bottom: 0;
}

@keyframes blink {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: antiquewhite;
    }
    100% {
        background-color: transparent;
    }
}

.blinking {
    animation: blink 2s infinite;
}

.fa:hover {
    color: lightsalmon;
}

.icon-success {
    color: green;
}
